.headerLogo{
    max-width: 300px;
    height: auto;
}
.filtersDrop__wrap{
    margin-right: 20px;
    margin-bottom: 20px;
}
.filtersDrop li{
    cursor: pointer;
    text-transform: capitalize;
}
.filtersWrap{
    display: flex;
}